@media screen and (max-width: 1199px) {
    .del-nav {
     max-width: 934px;
    }
    
    .swiper-del{
     width: 750px;
    }

    .serv-nav {
        max-width: 934px;
       }
       
     .serv-swiper{
      width: 750px;
     }
    }
