@media screen and (max-width: 485px){
    .banner .swiper {
        margin: 0px;
        border-radius:0px;
    }


    .banner .container{
        justify-content: unset;
    }

    .banner-title{
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        padding-left: 42px;
        margin-right: 23px;
        padding-top: 190px;
    }

.banner-description{
    text-align: center;
    padding-left:55px ;
    margin-right: 37px;
    padding-top: 81px;
    max-width: 335px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 18px;
}

.banner .btn {
    width:295px;
    margin-left: 18px;
    font-size: 16px;
    line-height: 23px;
}

.banner .btn>img{
    margin-left: 52px;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 13px 26px;
}
}