@media screen and (max-width: 575px) {
    .banner .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 700px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    
    
    .banner-title{  
    text-align: center; 
    }

.banner-description{
    text-align: center;

    
}

.banner .btn {
    text-align: center;

}

}
