@media screen and (max-width: 390px){
    .swiper {
        margin: 0px;
        border-radius:0px;
    }
    .banner .container{
        min-height: 650px;
        margin-left: 0px;
        justify-content: unset;
    }

    .banner-title{
        text-align: center;
        font-size: 32px;
        line-height: 42px;
        padding-left: 42px;
        margin-right: 23px;
        padding-top: 185px;
    }

.banner-description{
    text-align: center;
    padding-left:55px ;
    margin-right: 37px;
    padding-top: 2px;
    max-width: 350px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 19px;
}

.banner .btn {
    width:295px;
    margin-left: 37px;
    padding: 19px 19px;
    font-size: 16px;
    line-height: 26.9px;
}

.banner .btn>img{
    margin-left: 52px;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 26px 29px;
}
}