.delivery{ 
    margin-top: 101px;  
    position: relative;
}

.del-slide {
    padding: 0 20px 17px;
    border-radius: 20px;
    box-shadow: 5px 15px 40px 0 rgba(30, 35, 66, 0.15);
    background: $bg-section;
    overflow: hidden;
    min-height: 482px;
}


.delivery .img-box {
    margin: 0 -20px 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    text-align: center;
    color: $color;
    margin-bottom: 10px;
}

.line-3 {
    margin-bottom: 70px;
}

.del-option {
    display: flex;
    gap: 44px;
    justify-content: center;
    margin: 0 0 28px 0;
    padding: 0;
}

.del-option li{
    list-style: none;
    color: $color;
}

.del-option img {
    margin-right: 10px;
}


.del-price {
    font-size: 22px;
    line-height: 125%;
    text-align: center;
    color: $color;
    margin-bottom: 26px;
    letter-spacing: -0.7px;
}


.del-nav {
    position: absolute;
    bottom: 242px;
    max-width: 1401px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


 .del-nav .swiper-button-prev {
    width: 100%;
    max-width: 46px;
    height: 46px;
    color: #FFFFFF;
    margin-left: 59px;
}


.del-nav .swiper-button-next {
    width: 100%;
    max-width: 46px;
    height: 46px;
    color: $color;
    margin-right: 0px;
}


.del-nav .swiper-button-next:hover, .del-nav .swiper-button-prev:hover {
    color: $secondary-color
}


