
@font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url('assets/fonts/RobotoSerif-VariableFont.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src:url('assets/fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src:url('assets/fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src:url('assets/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Proxima Nova';
    src:url('assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src:url('assets/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src:url('assets/fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  
  @font-face {
    font-family: 'Proxima Nova';
    src:url('assets/fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
  }
