* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-body;
    color:$color;
    font-family: $font-primary;
    font-weight: 400px;
}

main{
    padding: 0 5px 0;
}


.container{
    max-width: 1164px;
}

.typo-a{
 color:$primary-color;
 text-decoration: none;
}

.typo-a:hover{
text-decoration: underline;
}
.nav-item:hover{
    color:$primary-color;
    text-decoration-line: none;
  }

li::marker {
    color:$color;
}


.btn.btn-secondary{
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    background: $color;
}




