.header {
  display: flex;
  justify-content: center;
  margin: 25px auto 39px;
  max-width: 1140px;
  height: 50px;
}

.nav {
  --bs-nav-link-color: $color;
  --bs-nav-link-hover-color: $color
  gap:45px;
  margin-right: 98px;
}

.nav-item {
  font-size: 16px;
  color: $color;
  line-height: 23.36px;
  text-align: left;

}

.nav-item:hover{
  text-decoration-line: underline;
}


.nav-brand{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  margin-right: 98px;
}

.btn {
    font-weight: 600;
    padding: 14px 27px;
    border-radius: 90px;
    background-color: $primary-color;
    color: $color;
    cursor: pointer;
    border: 1px solid $primary-color;
    font-size: 15px;
    line-height: 21.9px;
}

.btn:hover {
  background-color: $bg-body;
  border-color: $primary-color;
}

.btn:active{
  background-color: $bg-body;
  border-color: $primary-color;
}



