header{
  max-width: 100%;
  width: 1140px;
  margin: 25px auto 39px;
}
.nav-brand{
margin-right: 98px;
}

.navbar-toggler {
  border: 0px;
  color: $bg-body;
  width: 40px;
  height: 40px;
}

.navbar-toggler-icon {
  width: 28px;
  position: relative;
  background: $color;
  height: 2px;
  margin: -23px 0 0 0;
}

.navbar-toggler-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar-toggler-icon:after{
content: "";
  position: absolute;
  left: 0;
  top:20px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}


[aria-expanded=true] .navbar-toggler-icon {
  background-color: transparent;
}

[aria-expanded=true] .navbar-toggler-icon:before {
  transform: rotate(-45deg);
}

[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  top: 10px;
}

.navbar-nav {
  --bs-nav-link-color: $color;
  --bs-nav-link-hover-color: $color;
  gap: 25px;
  margin-right: 98px;
}

.nav-item {
  font-size: 16px;
  color: $color;
  line-height: 23.36px;
  text-align: left;

}

.nav-item:hover{
  color:$primary-color;
  text-decoration-line: none;
}

.nav-brand{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  margin-right: 98px;
}

.btn {
    font-weight: 600;
    padding: 14px 27px;
    border-radius: 90px;
    background-color: $primary-color;
    color: $color;
    cursor: pointer;
    border: 1px solid $primary-color;
    font-size: 15px;
    line-height: 21.9px;
}

.btn:hover {
  background-color: $bg-body;
  border-color: $primary-color;
}

.btn:active{
  background-color: $bg-body;
  border-color: $primary-color;
}






