<div class="container">
    <div class="titles line-5">О компании</div>
    <div class="about">
        <div class="about-text">
            <p>Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в
                <strong>Украину</strong> - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
                Китай-<strong>Украину</strong>. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке
                более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.
            </p>
            <p>Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете
                качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
        </div>
        <img class="about-picture" src="assets/img/about.png" /></div>
    </div>