<section class="advantages adv-bg">
    <div class="container">
        <div class="titles line-2">Почему стоит выбрать именно нас?</div>
        <div class="swiper swiper-adv">
            <div class="swiper-wrapper">
                <div class="swiper-slide advantage">
                <div class="advantage-img">
                <img src="assets/img/adv-1.svg" alt="advantage"></div>
                <h6 class="advantage-title width-title-1">Таможенное оформление груза</h6>
                </div>
              <div class="swiper-slide advantage"> 
                <div class="advantage-img">
                <img src="assets/img/adv-2.svg" alt="advantage"></div>
                <h6 class="advantage-title">Страховка груза</h6>
            </div>
            <div class="swiper-slide advantage"> 
                <div class="advantage-img">
                <img src="assets/img/adv-3.svg" alt="advantage"></div>
                <h6 class="advantage-title">Проверка товара на брак</h6>
            </div>
            <div class="swiper-slide advantage"> 
                <div class="advantage-img">
                <img src="assets/img/adv-4.svg" alt="advantage"></div>
                <h6 class="advantage-title">Доставка в любой город Украины</h6>
            </div>
            <div class="swiper-slide advantage"> 
                <div class="advantage-img">
                <img src="assets/img/adv-5.svg" alt="advantage"></div>
                <h6 class="advantage-title">Консолидация на складе</h6>
            </div>
            <div class="swiper-slide advantage"> 
                <div class="advantage-img">
                <img src="assets/img/adv-6.svg" alt="advantage"></div>
                <h6 class="advantage-title">Ответственное хранение груза</h6>
            </div>
            <div class="swiper-slide advantage"> 
                <div class="advantage-img">
                <img src="assets/img/adv-7.svg" alt="advantage"></div>
                <h6 class="advantage-title">Помощь в оплате товара</h6>
            </div>
            <div class="swiper-slide advantage"> 
                <div class="advantage-img">
                <img src="assets/img/adv-8.svg" alt="advantage"></div>
                <h6 class="advantage-title width-title-8">Упаковка, переупаковка, паллетирование груза к международной перевозке</h6>
            </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
    </div>
</section>