<section class="banner">
  <div class="swiper container-xxl">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-active" style="background-image: url('assets/img/banner1.png');">
        <div class="container">
            <div class="banner-title">Прямое КАРГО из Китая</div>
            <div class="banner-description">Доставляем любые грузы из Китая по честной цене</div>
            <button type="button" class="btn btn-primary">Рассчитать стоимость<img src="assets/img/Vector.svg" alt="arrow"></button>
        </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="background-image: url('assets/img/banner2.png');">
      <div class="container">
          <div class="banner-title">Выкуп товара с ТаоБао, 1688</div>
          <div class="banner-description">Выкуп и доставка товаров
              с китайских торговых площадок. </div>
          <button type="button" class="btn btn-primary">Рассчитать стоимость<img src="assets/img/Vector.svg" alt="arrow"></button>
      </div></div>
      <div class="swiper-slide" style="background-image: url('assets/img/banner3.png');">
        <div class="container">
            <div class="banner-title">Экспресс авто доставка</div>
            <div class="banner-description">Доставляем любые грузы из Китая по честной цене</div>
            <button type="button" class=" btn btn-primary">Рассчитать стоимость<img src="assets/img/Vector.svg" alt="arrow"></button>
        </div>
    </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>