<section class="delivery">
    <div class="container">
        <div class="titles line-3">Варианты доставки грузов из Китая</div>
        <div class="swiper swiper-del">
            <div class="swiper-wrapper">
              <div class="swiper-slide del-slide">
                    <div class="img-box">
                        <img src="assets/img/del-1.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="del-title">Авто-обычная</h4>
                    <ul class="del-option">
                        <li class="option-item"><img src="assets/img/calendar.svg" alt="calendar">9-15 дней</li>
                        <li class="option-item"><img src="assets/img/box.svg" alt="box">от 5 кг</li>
                    </ul>
                    <div class="del-price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="btn-row">
                        <button type="button" class="mb-2 btn btn-primary">Оставить заявку</button>
                        <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="swiper-slide del-slide">
                    <div class="img-box">
                        <img src="assets/img/del-2.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="del-title">Авто-ускоренная</h4>
                    <ul class="del-option">
                        <li class="option-item"><img src="assets/img/calendar.svg" alt="calendar">9-15 дней</li>
                        <li class="option-item"><img src="assets/img/box.svg" alt="box">от 5 кг</li>
                    </ul>
                    <div class="del-price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="btn-row">
                        <button type="button" class="mb-2 btn btn-primary">Оставить заявку</button>
                        <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="swiper-slide del-slide">
                    <div class="img-box">
                        <img src="assets/img/del-3.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="del-title">Авиа</h4>
                    <ul class="del-option">
                        <li class="option-item"><img src="assets/img/calendar.svg" alt="calendar">9-15 дней</li>
                        <li class="option-item"><img src="assets/img/box.svg" alt="box">от 5 кг</li>
                    </ul>
                    <div class="del-price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="btn-row">
                        <button type="button" class="mb-2 btn btn-primary">Оставить заявку</button>
                        <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="swiper-slide del-slide">
                    <div class="img-box">
                        <img src="assets/img/del-4.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="del-title">Море</h4>
                    <ul class="del-option">
                        <li class="option-item"><img src="assets/img/calendar.svg" alt="calendar">9-15 дней</li>
                        <li class="option-item"><img src="assets/img/box.svg" alt="box">от 5 кг</li>
                    </ul>
                    <div class="del-price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="btn-row">
                        <button type="button" class="mb-2 btn btn-primary">Оставить заявку</button>
                        <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="swiper-slide del-slide">
                    <div class="img-box">
                        <img src="assets/img/del-5.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="del-title">Ж/Д</h4>
                    <ul class="del-option">
                        <li class="option-item"><img src="assets/img/calendar.svg" alt="calendar">9-15 дней</li>
                        <li class="option-item"><img src="assets/img/box.svg" alt="box">от 5 кг</li>
                    </ul>
                    <div class="del-price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="btn-row">
                        <button type="button" class="mb-2 btn btn-primary">Оставить заявку</button>
                        <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>  
          <div class="del-nav">
              <div class="swiper-button-prev swiper-button-prev-unique"></div>
              <div class="swiper-button-next swiper-button-next-unique"></div>
          </div>  
    </div> 
          
</section>