<footer class="footer container">
        <div class="footer-row">
            <div class="contact-info">
                <img class="footer-logo" src="assets/img/logo.svg" />
                <ul class="footer-address">
                    <li>8(800)600-18-69</li>
                    <li><a class="mail-link" href="mailto:info@cargoasia.info">info@cargoasia.info</a></li>
                    <li>Адрес в Китае:</li>
                    <li>浙江省金华市义乌市后宅街道洪华小区5</li>
                    <li>栋一单元一楼RT789库房 高建军 电话</li>
                    <li>15966660379</li>
                </ul>
                <div class="footer-socials">
                    <a href="#"><img src="assets/img/inst.svg" alt="instagram" /></a>
                    <a href="#"><img src="assets/img/vk.svg" alt="vk" /></a>
                    <a href="#"><img src="assets/img/tg.svg" alt="telegram" /></a>
                </div>
            </div>
            <div class="site-map">
                <div class="site-map-block" style="flex: 0.31;">
                    <h6 class="site-map-title">Грузоперевозки</h6>
                    <ul class="site-map-list">
                        <li><a class="map-link" href="#">Цены и сроки</a></li>
                        <li><a class="map-link" href="#">Услуги</a></li>
                        <li><a class="map-link" href="#">О компании</a></li>
                        <li><a class="map-link" href="#">Контакты</a></li>
                        <li><a class="map-link" href="#">Оформить груз</a></li>
                    </ul>
                </div>
                <div class="site-map-block" style="flex: 0.35;">
                    <h6 class="site-map-title">Услуги</h6>
                    <ul class="site-map-list">
                        <li><a class="map-link" href="#">Выкуп товара</a></li>
                        <li><a class="map-link" href="#">Страховка груза</a></li>
                        <li><a class="map-link" href="#">Аренда склада</a></li>
                        <li><a class="map-link" href="#">Перевод денежных средств</a></li>
                    </ul>
                </div>
                <div class="site-map-block" style="flex: 0.36;">
                    <h6 class="site-map-title">Информация</h6>
                    <ul class="site-map-list">
                        <li><a class="map-link" href="#">Отзывы</a></li>
                        <li><a class="map-link" href="#">Требования к грузу</a></li>
                        <li><a class="map-link" href="#">Договор-оферта</a></li>
                        <li><a class="map-link" href="#">Как заключить договор</a></li>
                        <li><a class="map-link" href="#">Способы оплаты услуг</a></li>
                        <li><a class="map-link" href="#">Документы</a></li>
                        <li><a class="map-link" href="#">Статьи</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
<a href="markup.html" style="position: fixed; left: 25px; bottom: 15px;">markup</a>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>