<section class="services serv-bg">
    <div class="container">
    <div class="titles line-4">Услуги</div>
    <div class="swiper serv-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide serv-slide">
               <div class="img-box">
            <img src="assets/img/serv1.png" alt="services">
               </div>
                <h4 class="serv-title">Выкуп товара</h4>
                <h6 class="serv-text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                <div class="btn-row">
                    <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="swiper-slide serv-slide">
                <div class="img-box">
                    <img src="assets/img/serv2.png" alt="services">
                </div>
                <h4 class="serv-title">Страховка груза</h4>
                <h6 class="serv-text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                <div class="btn-row">
                    <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="swiper-slide serv-slide">
                <div class="img-box">
                    <img src="assets/img/serv3.png" alt="services">
                </div>
                <h4 class="serv-title">Аренда склада</h4>
                <h6 class="serv-text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                <div class="btn-row">
                    <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="swiper-slide serv-slide">
                <div class="img-box">
                    <img src="assets/img/serv4.png" alt="services">
                </div>
                <h4 class="serv-title">Перевод денежных средств</h4>
                <h6 class="serv-text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                <div class="btn-row">
                    <button type="button" class="mb-2 btn btn-secondary">Подробнее</button>
                </div>
            </div>
        </div>
        
        <div class="swiper-pagination"></div>

      </div>
      </div>
        <div class="serv-nav">
            <div class="swiper-button-prev swiper-button-prev-serv"></div>
            <div class="swiper-button-next swiper-button-next-serv"></div>
        </div> 
</section>